
html{
    min-height: 100%;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important
}

.navbar-link {
  transform: perspective(1px) translateZ(0);
  transition-property: background,
  border-bottom;
  transition: 1.5s ease;
}

.active-link {
  border-bottom:2px solid #fff;
}

a {
  text-decoration: none;
}

.bg-primary {
    background-color: #349bea
}

.fs-12{
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}


.header-1{
    font-weight: 300;
}

.sub-header {
    font-weight: bold;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li {
    margin-bottom: 0.25rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.img-responsive {
    width: 100% !important;
    height: 100% !important;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.no-pad-bot {
    padding-bottom: 0;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
}

.navbar-link {
    font-size: 12px;
}

.navbar-link.active {
    background : rgba(0, 0, 0, 0.06) !important;

}

@media only screen and (max-width: 600px){
    .hidden-sm {
        display: none;
    }
}

.main-container {
  margin-top: 5rem;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.logo {
  width: 75px;
  height: 75px;
}

.icon-left {
  position: absolute;
  left: .5rem;
}

.wrapper {
  position: relative;
}


.terms-policy {
  font-size: 14px;
  font-weight: 600;
}


.input-group__details {
  display: block !important;
  position: absolute;
  top: 100%;
}


.input-group__details:before,
.input-group__details:after {
  display: none;
}
